.reservation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
}

.container-item-title {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.reservation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
}

input,
select {
  height: 2.5rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  outline: none;
  border: 0.0625rem solid white;
  border-radius: 0.375rem;
  background: #ffffff;
  color: black;
  cursor: pointer;
  transition: border-color 0.2s;
}

input:focus,
select:focus {
  border-width: 0.125rem;
  border-color: wheat;
}

.error {
  border: 1px solid red;
}
